@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      float : left;
    }
    .Login .form-group {
        margin: 10px 0px;
    }

    .Login .form-group .form-control {
        float: right;
    }
  }